:root {
    --black-shade: #000000;
    --white-shade: #FFFFFF;
    --grey-shade: #7B7B7B;
    --deep-blue: #003366;
    --accent-green: #004D40;
    --sky-blue: #87CEEB;
}

.posts {
    color: gold;
}
.button {
    background-color: var(--accent-green);
    color: var(--white-shade);
}

.button:hover {
    background-color: var(--sky-blue);
}

.item {
    color: blue;
}