.content {
    grid-area: content;
    background-color: lightcoral;
}

.posts {
    color: gold;
}

.item {
    color: blue;
}

.bigpicture {
    width: 250px;
    height: 250px;
}

.avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}